@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Poppins:wght@500&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Rampart+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        /* font family */
        --redHat: 'Red Hat Text', 'sans-serif';

        /* Primary */
        --grayishBlue: 237 18% 59%;
        --softRed: 345 95% 68%;
        --darkPurple: 251 16% 14%;

        /* Neutral */
        --default: 0 0% 100%;
        --darkDesaturatedBlue: 236 21% 26%;
        --veryDarkBlue: 235 16% 14%;
        --veryDarkBlackBlue: 234 17% 12%;
    }

    body {
        font-family: var(--redHat);
        font-size: 14px;
    }

    .logo:hover {
        filter: invert(52%) sepia(82%) saturate(1560%) hue-rotate(309deg)
            brightness(98%) contrast(101%);
    }

    .flip-card {
        transform-style: preserve-3d;
    }

    .container-top,
    .container-bottom {
        perspective: 30rem;
    }

    .container-top {
        perspective-origin: bottom;
    }
    .container-bottom {
        perspective-origin: top;
    }

    /* .animate will be removed and add every second */
    .animate .top-flip {
        animation: flip-top 300ms ease-in forwards;
        transform-origin: bottom;
    }

    @keyframes flip-top {
        100% {
            transform: rotateX(90deg);
        }
    }

    .animate .bottom-flip {
        animation: flip-bottom 300ms ease-out 300ms forwards;
        transform-origin: top;
        transform: rotateX(90deg);
    }

    @keyframes flip-bottom {
        100% {
            transform: rotateX(0deg);
        }
    }
}
