@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        /* font family */
        --redHat: 'Red Hat Text', 'sans-serif';

        /* Primary */
        --grayishBlue: 237 18% 59%;
        --softRed: 345 95% 68%;
        --darkPurple: 251 16% 14%;

        /* Neutral */
        --default: 0 0% 100%;
        --darkDesaturatedBlue: 236 21% 26%;
        --veryDarkBlue: 235 16% 14%;
        --veryDarkBlackBlue: 234 17% 12%;
    }

    body {
        font-family: var(--redHat);
        font-size: 14px;
    }
}
